body {
    height:100%;
    background-color: #fff;
    
    .conatiner {
        display:flex;
        justify-content:space-around;
        align-items:center;
        height:100vh;
        .clock{
            position: relative;
            width:400px;
            height:400px;
            background-image:url(clock_face.jpg);
            background-size: cover;
            .hands {
                position:absolute;
                
            }
            #seconds {
                transform: rotate(0deg);
            }
        
        }
        .clock:after {
            content:'';
            width:30px;
            height:30px;
            position:absolute;
            background-color:rgba(0,0,0,1);
            border-radius:50%;
            transform:translate(-50%,-50%);
            top:50%;
            left:50%;
        }
    }
}

